* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

:root {
    --darkColor: #222;
}

html,
body {
    max-width: 100vw;
    max-height: 100%;
    background-color: var(--darkColor);
}


/* ====================== */

.card {
    background: linear-gradient(135deg, #6be9f1 0%, #02303b);
    max-width: 30vw;
    color: #fff;
    margin: 10vw auto 0;
    border-radius: 2.5vw;
    padding: 3vw 4vw;
}

.search {
    display: flex;
    justify-content: center;
    column-gap: 1.5vw;
}

input {
    border: none;
    border-radius: 1vw;
    outline: none;
    height: 3vw;
    width: 30vw;
    text-align: center;
}

::placeholder {
    text-align: center;
    color: var(--darkColor);
    font-size: 1.3vw;
    opacity: 0.9;
}

.search_btn {
    font-size: 1vw;
    cursor: pointer;
    border-radius: 50%;
    color: var(--darkColor);
    background: #fffffff1;
    padding: 1vw;
}

.img {
    width: 8vw;
    margin: 0 auto;
}

.img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.weather {
    text-align: center;
}

.bottom {
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
}